.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 80px;
}

.header__content {
  display: flex;
  align-items: center;
  padding: 24px 0;
  justify-content: space-between;
  gap: 40px;
  width: 100%;
}

@media (max-width: 999px) {
  .container {
    padding: 0 40px;
  }

  .header__content {
    gap: 30px;
  }
}

@media (max-width: 899px) {
  .container {
    padding: 0 32px;
  }

  .header__content {
    gap: 25px;
    padding: 20px 0;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 24px;
  }

  .header__content {
    gap: 20px;
    padding: 18px 0;
  }
}
