.header__logo {
  display: flex;
  width: 145px;
  margin-right: 38px;
}

@media (max-width: 899px) {
  .header__logo {
    max-width: 100px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    min-width: 81px;
    margin-right: 0;
  }
}
