body {
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(
      178.73deg,
      rgba(39, 135, 245, 0.18) -17.53%,
      rgba(163, 147, 245, 0.18) 131.74%
    ),
    linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%);
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 80px;
}

.visually-hidden {
  visibility: hidden;
  display: none;
}