body {
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(
      178.73deg,
      rgba(39, 135, 245, 0.18) -17.53%,
      rgba(163, 147, 245, 0.18) 131.74%
    ),
    linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%);
  font-family: sans-serif;
  min-height: 100vh;
}

img {
  width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 80px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@media (max-width: 768px) {
  .container {
    padding: 0 40px;
  }

  body {
    background: linear-gradient(
        178.73deg,
        rgba(39, 135, 245, 0.18) -17.53%,
        rgba(163, 147, 245, 0.18) 131.74%
      ),
      linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%);
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 24px;
  }

  body {
    background: linear-gradient(
        178.73deg,
        rgba(39, 135, 245, 0.18) -17.53%,
        rgba(163, 147, 245, 0.18) 131.74%
      ),
      linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%);
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0 16px;
  }

  body {
    background: linear-gradient(180deg, #000000 0%, rgba(39, 36, 36, 0.7) 100%);
  }
}

@media (max-width: 320px) {
  .container {
    padding: 0 12px;
  }
}
